<!--
 -- settings-info.component.html
 -- 
 -- HTML file specifying the layout for the settings-info.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-06-07 / Anne Naumann
 -->

<app-toolbar title="{{title}}" [backBtn]=true></app-toolbar>
<img id="appIcon" src="../../../../assets//images//favicon.png">
<p id="appName">ShiftPLAN</p>
<mat-list>
    <mat-list-item id="labelRepo">
        <span>GitHub:</span>
        <span class="alignText">https://github.com/andyruto/ShiftPLAN</span>
    </mat-list-item>
    <mat-list-item id="labelVersion">
        <span>Version:</span>
        <span class="alignText">0.0.1</span>
    </mat-list-item>
</mat-list>