/**
 * admin-add.component.scss
 * 
 * The stylesheet document for the admin-add component styling the
 * layout defined in the html document.
 * 
 * author: Anne Naumann
 * last edit / by: 2021-07-09 / Anne Naumann
 */ 

#adminAddScrollView{
    width: 95%;
    display: block;
    margin: 0 auto;
}
#checkBoxUserHidden{
    margin-left: 10%;
}
.inputField{
    width: 80%;
    display: block;
    margin: 5% auto;
}
#buttonContainer{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.displayBtn{
    display: block;
    margin: 5% auto;
}