/**
 * admin-add.component.scss
 * 
 * The stylesheet document for the admin-add component styling the
 * layout defined in the html document.
 * 
 * author: Anne Naumann
 * last edit / by: 2021-06-11 / Anne Naumann
 */ 

#checkBoxUserHidden{
    margin-left: 10%;
}
.inputField{
    width: 80%;
    display: block;
    margin: 5% auto;
}
.displayBtn{
    display: block;
    margin: 5% auto;
}