<!--
 -- profile.component.html
 -- 
 -- HTML file specifying the layout for the profile.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-06-07 / Anne Naumann
 -->

<app-toolbar title="{{title}}" [settingsBtn]=true [adminBtn]=true></app-toolbar>
<mat-list>
    <mat-list-item id="labelUserName">
        <span>Benutzername:</span>
        <span id="contentUserName" class="alignText">Test Username</span>
    </mat-list-item>
    <mat-list-item id="labelPosition">
        <span>Rolle:</span>
        <span id="contentPosition" class="alignText">Test Rolle</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item id="labelDepartment">
        <span>Abteilung:</span>
        <span id="contentDepartment" class="alignText">Test Abteilung</span>
    </mat-list-item>
    <mat-list-item id="labelDepartmentHead">
        <span>Abteilungsleiter:</span>
        <span id="contentDepartmentHead" class="alignText">Test Abteilungsleiter</span>
    </mat-list-item>
</mat-list>
<button mat-raised-button id="logoutBtn" color="accent" (click)="checkLogout()">Logout</button>
<div id="checkLogout">
    <p id="labelCheck">Wollen Sie sich wirklich abmelden?</p>
    <div class="distributeBtns">
        <button mat-flat-button id="stopLogoutBtn" color="primary" (click)="stopLogout()">Nein</button>
        <button mat-flat-button id="confirmLogoutBtn" color="primary" (click)="userLogout()">Ja</button>    
    </div>
</div>