/**
 * profile.component.scss
 * 
 * The stylesheet document for the profile component styling the
 * layout defined in the html document.
 * 
 * author: Anne Naumann
 * last edit / by: 2021-06-07 / Anne Naumann
*/ 
 @import '../../../../styles.scss';

.mat-divider{
    border-top-color: #{rgba(mat-color($ShiftPLAN-primary), 500)};
    border-top-width: 2px;
    margin-left: 20px;
    margin-right: 20px;
}
.alignText{
    position: absolute;
    left: 50%;
}
#logoutBtn{
    display: block;
    margin: 20% auto;
}
#checkLogout{
    display: none;
    width: fit-content;
    height: fit-content; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    border-style: solid;
    border-color: #{rgba(mat-color($ShiftPLAN-primary), 500)};
    background-color: white;
}
.distributeBtns{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}