<!--
 -- admin-user.component.html
 -- 
 -- HTML file specifying the layout for the admin-user.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-07-09 / Anne Naumann
-->
<app-toolbar title="{{title}}" [backBtn]=true></app-toolbar>
<cdk-virtual-scroll-viewport id="adminUserScrollView" itemSize="50">
    <mat-form-field class="inputField">
        <mat-label>{{labelRole}}</mat-label>
        <mat-select name="role" [(value)]="role" [disabled]="disableRole">
            <mat-option value="0">{{roleEmployee}}</mat-option>
            <mat-option value="1">{{roleBoss}}</mat-option>
            <mat-option value="2">{{roleAdmin}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field id="inputUsername" class="inputField">
        <mat-label id="labelUsername">{{labelUsername}}</mat-label>
        <input matInput #inputUsername type="text" [value]="userName" (input)="userName = inputUsername.value" [readonly]="readOnlyName">
    </mat-form-field>
    <mat-form-field id="inputPassword" class="inputField">
        <mat-label id="labelPassword">{{labelPassword}}</mat-label>
        <input matInput #inputPassword type="password" [value]="password" (input)="password = inputPassword.value">
    </mat-form-field>
    <mat-checkbox id="checkBoxUserHidden" (change)="checking()" [checked]=checked [disabled]="disableCheckbox">{{checkBoxUserHidden}}</mat-checkbox>
    <mat-form-field id="inputOvertime" class="inputField">
        <mat-label id="labelOvertime">{{labelOvertime}}</mat-label>
        <input matInput #inputOvertime type="number" [value]="overtime" (input)="overtime = +inputOvertime.value">
    </mat-form-field>
    <mat-form-field id="inputMinutes" class="inputField">
        <mat-label id="labelMinutes">{{labelWorkingMinutes}}</mat-label>
        <input matInput #inputMinutes type="number" [value]="minutes" (input)="minutes = +inputMinutes.value">
    </mat-form-field>
    <mat-form-field id="inputDays" class="inputField">
        <mat-label id="labelDays">{{labelWorkingDays}}</mat-label>
        <input matInput #inputDays type="number" [value]="days" (input)="days = +inputDays.value">
    </mat-form-field>
    <mat-form-field id="inputVacation" class="inputField">
        <mat-label id="labelVacation">{{labelVacationDays}}</mat-label>
        <input matInput #inputVacation type="number" [value]="vacation" (input)="vacation = +inputVacation.value">
    </mat-form-field>
</cdk-virtual-scroll-viewport>
<div id="buttonContainer">
    <button mat-raised-button id="saveUserBtn" class="displayBtn" color="accent" (click)="modifyUser()">{{editBtn}}</button>
</div>