<!--
 -- admin-user.component.html
 -- 
 -- HTML file specifying the layout for the admin-user.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-07-09 / Anne Naumann
-->
<app-toolbar title="{{title}}" [backBtn]=true></app-toolbar>
<cdk-virtual-scroll-viewport id="adminUserScrollView" itemSize="50">
    <mat-form-field class="inputField">
        <mat-label>{{labelRole}}</mat-label>
        <mat-select name="role">
            <mat-option *ngFor="let role of roles" [value]="role">
                {{role}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field id="inputUsername" class="inputField">
        <mat-label id="labelUsername">{{labelUsername}}</mat-label>
        <input matInput #inputUsername type="text" [readonly]="readOnlyName">
    </mat-form-field>
    <mat-checkbox id="checkBoxUserHidden" (change)="checking()" [checked]=checked [disabled]="disableCheckbox">{{checkBoxUserHidden}}</mat-checkbox>
    <mat-form-field id="inputOvertime" class="inputField">
        <mat-label id="labelOvertime">{{labelOvertime}}</mat-label>
        <input matInput #inputOvertime type="number">
    </mat-form-field>
    <mat-form-field id="inputMinutes" class="inputField">
        <mat-label id="labelMinutes">{{labelWorkingMinutes}}</mat-label>
        <input matInput #inputMinutes type="number">
    </mat-form-field>
    <mat-form-field id="inputDays" class="inputField">
        <mat-label id="labelDays">{{labelWorkingDays}}</mat-label>
        <input matInput #inputDays type="number">
    </mat-form-field>
    <mat-form-field id="inputVacation" class="inputField">
        <mat-label id="labelVacation">{{labelVacationDays}}</mat-label>
        <input matInput #inputVacation type="number">
    </mat-form-field>
</cdk-virtual-scroll-viewport>
<div id="buttonContainer">
    <button mat-raised-button id="saveUserBtn" class="displayBtn" color="accent" (click)="changeUser(inputUsername.value)">{{editBtn}}</button>
</div>