/**
 * wizard-password.component.scss
 * 
 * The stylesheet document for the wizard-password component styling the
 * layout defined in the html document.
 * 
 * author: Anne Naumann
 * last edit / by: 2021-07-07 / Anne Naumann
 */ 
 @import '../../../../../styles.scss';

 #setContainer{
   width: 100%;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }
 #labelNewPassword, #labelPasswordCheck{
  font-size: 16pt;
 }
 #inputPasswordNew, #inputPasswordCheck{
  width: 80%;
  margin: 5% auto;
  display: block;
 }
 #setBtn{
  margin:0 auto;
  display:block;
  padding: 2% 6% 2% 6%;
  font-size: 16pt;
 }
 #warningNew{
  font-size: 14pt;
 }