<!--
 -- wizard-address.component.html
 -- 
 -- HTML file specifying the layout for the wizard-address.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-05-29 / Anne Naumann
 -->
<app-toolbar title={{title}}></app-toolbar>
<div id="outerContainer">
    <label id="labelAddress" for="inputAddress">{{label}}</label>
    <input id="inputAddress" #userInput type="text">
    <p id="warning">{{warning}}</p>
    <button id="nextBtn" (click)="checkInput(userInput.value)">{{nextButton}}</button>
</div>