<!--
 -- bottom-bar.component.html
 -- 
 -- HTML file specifying the layout for the bottom-bar.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-05-29 / Anne Naumann
 -->
 <ngx-bottom-nav :host>
     <!--TODO: Need to set routerLink to home component-->
    <button ngx-bottom-nav label={{home}} id="homeBtn" routerLink="/">
      <mat-icon ngxBottomNavIcon svgIcon="home"></mat-icon>
    </button>
    <!--TODO: Need to set routerLink to shifts component-->
    <button ngx-bottom-nav label={{shifts}} id="shiftsBtn" routerLink="/">
      <mat-icon ngxBottomNavIcon svgIcon="calendar"></mat-icon>
    </button>
    <!--TODO: Need to set routerLink to tasks component-->
    <button ngx-bottom-nav label={{tasks}} id="tasksBtn" routerLink="/">
      <mat-icon ngxBottomNavIcon svgIcon="tasks"></mat-icon>
    </button>
    <!--TODO: Need to set routerLink to applications component-->
    <button ngx-bottom-nav label={{applications}} id="applicationsBtn" routerLink="/">
        <mat-icon ngxBottomNavIcon svgIcon="applications"></mat-icon>
    </button>
    <!--TODO: Need to set routerLink to statistics component-->
    <button ngx-bottom-nav label={{statistics}} id="statisticsBtn" routerLink="/">
        <mat-icon ngxBottomNavIcon svgIcon="statistics"></mat-icon>
    </button>
  </ngx-bottom-nav>