/**
 * settings-adapt-screen.component.scss
 * 
 * The stylesheet document for the settings-adapt-screen component styling the
 * layout defined in the html document.
 * 
 * author: Anne Naumann
 * last edit / by: 2021-06-09 / Anne Naumann
 */ 

 .mat-slide-toggle{
     position: absolute;
     right: 0;
     margin: 0 5%;
 }