/**
 * settings.component.scss
 * 
 * The stylesheet document for the settings component styling the
 * layout defined in the html document.
 * 
 * author: Anne Naumann
 * last edit / by: 2021-06-07 / Anne Naumann
 */ 
@import '../../../../../styles.scss';

.mat-divider{
    border-top-color: #{rgba(mat-color($ShiftPLAN-primary), 500)};
    border-top-width: 2px;
    margin-left: 20px;
    margin-right: 20px;
}
.alignText{
    margin-left: 5%;
}