<!--
 -- settings.component.html
 -- 
 -- HTML file specifying the layout for the settings.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-07-20 / Anne Naumann
 -->

<app-toolbar title="{{title}}" [profileBtn]=true [adminBtn]=admin></app-toolbar>
<mat-list>
    <mat-list-item matRipple id="labelTheme" (click)="navigateToTheme()">
        <mat-icon svgIcon="palette"></mat-icon>
        <span class="alignText">{{labelTheme}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item matRipple id="labelAdaptScreen" (click)="navigateToAdaptHome()">
        <mat-icon svgIcon="levels"></mat-icon>
        <span class="alignText">{{labelAdapt}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item matRipple id="labelPassword" (click)="navigateToPassword()">
        <mat-icon svgIcon="lock"></mat-icon>
        <span class="alignText">{{labelPassword}}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item matRipple id="labelInfo" (click)="navigateToInfo()">
        <mat-icon svgIcon="info"></mat-icon>
        <span class="alignText">{{labelInfo}}</span>
    </mat-list-item>
</mat-list>