<!--
 -- shifts-add.component.html
 -- 
 -- HTML file specifying the layout for the shifts-add.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-06-26 / Anne Naumann
 -->
<app-toolbar title="{{title}}" [backBtn]=true></app-toolbar>
<cdk-virtual-scroll-viewport id="shiftAddScrollView" itemSize="50">
    <mat-form-field class="inputField">
        <mat-label>{{labelTask}}</mat-label>
        <mat-select name="task" [(value)]="selectedTask">
            <mat-option *ngFor="let task of tasks" [value]="task.index">
                {{task.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="inputField">
        <mat-label>{{labelTimespan}}</mat-label>
        <mat-select name="timespan">
            <mat-option *ngFor="let task of tasks[selectedTask].timespans" [value]="task">
                {{task}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="inputField">
        <mat-label>{{labelValidity}}</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon svgIcon="calendar"></mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div id="timeContainer">
        <mat-form-field id="shiftStart" class="timeInput">
            <mat-label id="labelShiftStart">{{labelStart}}</mat-label>
            <input matInput [ngxTimepicker]="pickerStart" [format]=24>
            <ngx-material-timepicker #pickerStart [theme]="timePickerTheme"></ngx-material-timepicker>
        </mat-form-field>
        <mat-form-field id="shiftEnd" class="timeInput">
            <mat-label id="labelShiftEnd">{{labelEnd}}</mat-label>
            <input matInput [ngxTimepicker]="pickerEnd" [format]=24>
            <ngx-material-timepicker #pickerEnd [theme]="timePickerTheme"></ngx-material-timepicker>
        </mat-form-field>
    </div>
    <div id="employeesContainer">
        <div *ngFor="let num of employeeCount">
            <mat-form-field class="employeeField">
                <mat-label id="labelEmployees">{{labelEmployee}}</mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>
        <button mat-icon-button id="addEmployeeBtn" color="primary" (click)="addEmployee()">
            <mat-icon svgIcon="plus"></mat-icon>
        </button>
    </div>
    <mat-form-field class="inputField">
        <mat-label id="labelContact">{{labelContact}}</mat-label>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field class="inputField">
        <mat-label>{{labelRemark}}</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</cdk-virtual-scroll-viewport>
<div id="buttonContainer">
    <button mat-raised-button id="saveShiftBtn" class="displayBtn" color="accent" >{{saveBtn}}</button>
</div>