##################################################
# The gitignore for VSCode project
# files and paths
# author: Andreas G.
# last edit / by: 2020-06-03 / Andreas G.
##################################################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
