##################################################
# The htaccess for all directories.
# author: Andreas G.
# last edit / by: 2020-06-08 / Andreas G.
##################################################

#Disabling the indexes for this and all subfolders
Options -Indexes

<Files ~ "\.conf$">
	Deny from All
</Files>

<Files ~ "composer.*">
        Deny from All
</Files>

<Files ~ ".gitignore">
        Deny from All
</Files>

<Files ~ "prepareExec.php">
        Deny from All
</Files>


