<!--
 -- settings-password.component.html
 -- 
 -- HTML file specifying the layout for the settings-password.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-06-09 / Anne Naumann
 -->

<app-toolbar title="{{title}}" [backBtn]=true></app-toolbar>
<div id="checkPassword">
    <mat-form-field id="inputPassword" class="inputField">
        <mat-label id="labelPassword">{{labelPassword}}</mat-label>
        <input matInput #inputPassword type="password" [value]="oldPassword" (input)="oldPassword = inputPassword.value">
        <mat-error id="warningCheck">{{warningCheck}}</mat-error>
    </mat-form-field>
    <button mat-raised-button id="confirmInputBtn" class="displayBtn" color="accent" (click)="showSetPassword()">{{nextBtn}}</button>
</div>
<div id="setPassword">
    <mat-form-field id="inputNewPassword" class="inputField">
        <mat-label id="labelNewPassword">{{labelNewPassword}}</mat-label>
        <input matInput #inputNewPassword type="password" [value]="newPassword" (input)="newPassword = inputNewPassword.value">
    </mat-form-field>
    <mat-form-field id="inputCheckPassword" class="inputField">
        <mat-label id="labelCheckPassword">{{labelCheckPassword}}</mat-label>
        <input matInput #inputCheckPassword type="password" [value]="checkPassword" (input)="checkPassword = inputCheckPassword.value">
        <mat-error id="warningSet">{{warningSet}}</mat-error>
    </mat-form-field>
    <button mat-raised-button id="setPasswordBtn" class="displayBtn" color="accent" (click)="setNewPassword()">{{saveBtn}}</button>
</div>