##################################################
# The gitignore for cache files
# files
# author: Kontr0x | Maximilian T.
# last edit / by: 2021-05-02 / Kontr0x | Maximilian T.
##################################################

pyversion/python394_linux/Lib/__pycache__/*.pyc
