<!--
 -- wizard-key.component.html
 -- 
 -- HTML file specifying the layout for the wizard-key.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-05-28 / Anne Naumann
 -->

<app-toolbar title="API Key"></app-toolbar>
<div id="outerContainer">
    <label id="labelKey" for="inputKey">Please enter the API key:</label>
    <input id="inputKey" #userInput type="text">
    <p id="warning">The key is not valid.</p>
    <button id="nextBtn" (click)="checkInput(userInput.value)">Next</button>
</div>