<!--
 -- toolbar.component.html
 -- 
 -- HTML file specifying the layout for the toolbar.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-05-26 / Anne Naumann
 -->
 <mat-toolbar color="primary" :host>
    <button mat-icon-button id="backBtn" (click)="navigateBack()">
        <mat-icon svgIcon="back-arrow"></mat-icon>
    </button>
    <span id="title">{{title}}</span>
    <span class="spacer"></span>
    <!--TODO: Need to set routerLink to profile component-->
    <button mat-button id="profileBtn" routerLink="" routerLinkActive="active">
        <mat-icon svgIcon="profile"></mat-icon>
        <span class="toolbar-icon-text">Profil</span>
    </button>
    <!--TODO: Need to set routerLink to settings component-->
    <button mat-button id="settingsBtn" routerLink="" routerLinkActive="active">
        <mat-icon svgIcon="settings"></mat-icon>
        <span class="toolbar-icon-text">Einstellungen</span>
    </button>
    <!--TODO: Need to set routerLink to admin component-->
    <button mat-button id="adminBtn" routerLink="" routerLinkActive="active">
        <mat-icon svgIcon="admin"></mat-icon>
        <span class="toolbar-icon-text">Admin</span>
    </button>
</mat-toolbar>
