/**
 * toolbar.component.scss
 * 
 * The stylesheet document for the toolbar component styling the
 * layout defined in the html document.
 * 
 * author: Anne Naumann
 * last edit / by: 2021-05-29 / Anne Naumann
 */ 

 #toolbar{
     background-image: linear-gradient(to left, #375E99, #6A9BE6);
     padding-right: 5px;
 }
 #backBtn{
     padding-right: 10px;
 }
 #title{
     color: white;
 }
 .spacer{
    flex: 1 1 auto;
}
.toolbar-button{
    padding-left: 0px;
    padding-right: 0px;
}
.toolbar-icon{
    color: white;
}
.toolbar-icon-text{
    color: white;
    line-height: normal;
}
:host{
    #backBtn{
        display: none;
    }
    #profileBtn{
        display: none;
    }
    #settingsBtn{
        display: none;
    }
    #adminBtn{
        display: none;
    }
    &.backActive{
        #backBtn{
            display: block;
        }
        #profileBtn{
            display: none;
        }
        #settingsBtn{
            display: none;
        }
        #adminBtn{
            display: none;
        }
    }
    &.profileActive{
        #profileBtn{
            display: block;
        }
    }
    &.settingsActive{
        #settingsBtn{
            display: block;
        }
    }
    &.adminActive{
        #adminBtn{
            display: block;
        }
    }
}