/**
 * app.component.scss
 * 
 * The stylesheet document for the app component styling the
 * layout defined in the html document.
 * 
 * author: Sascha W.
 * last edit / by: 2021-05-28 / Anne Naumann
 */
 @import '../styles.scss';

 #iconContainer{
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #{rgba(mat-color($ShiftPLAN-primary), 500)};
 }
 #appIcon{
     width: 70%;
 }