<!--
 -- wizard-password.component.html
 -- 
 -- HTML file specifying the layout for the wizard-password.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-05-29 / Anne Naumann
 -->

<app-toolbar title={{title}}></app-toolbar>
<div id="checkOldPassword">
    <div id="checkContainer">
        <label id="labelOldPassword" for="inputOldPassword">{{labelPasswordOld}}</label>
        <input id="inputOldPassword" #userInputOld type="password">
        <p id="warningOld">{{warningOld}}</p>
        <button id="nextBtn" (click)="checkPassword(userInputOld.value)">{{nextButton}}</button>
    </div>
</div>
<div id="setNewPassword">
    <div id="setContainer">
        <label id="labelNewPassword" for="inputNewPassword">{{labelPasswordNew}}</label>
        <input id="inputNewPassword" #userInputNew type="password">
        <label id="labelPasswordCheck" for="inputPasswordCheck">{{labelPasswordCheck}}</label>
        <input id="inputPasswordCheck" #userInputCheck type="password">
        <p id="warningNew">{{warningNew}}</p>
        <button id="setBtn" (click)="setPassword(userInputNew.value, userInputCheck.value)">{{nextButton}}</button>
    </div>
</div>