<!--
 -- wizard-password.component.html
 -- 
 -- HTML file specifying the layout for the wizard-password.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-05-29 / Anne Naumann
 -->

<app-toolbar title="Password"></app-toolbar>
<div id="checkOldPassword">
    <div id="checkContainer">
        <label id="labelOldPassword" for="inputOldPassword">Please enter the password:</label>
        <input id="inputOldPassword" #userInputOld type="password">
        <p id="warningOld">Wrong password</p>
        <button id="nextBtn" (click)="checkPassword(userInputOld.value)">Next</button>
    </div>
</div>
<div id="setNewPassword">
    <div id="setContainer">
        <label id="labelNewPassword" for="inputNewPassword">Please enter the new password:</label>
        <input id="inputNewPassword" #userInputNew type="password">
        <label id="labelPasswordCheck" for="inputPasswordCheck">Please confirm the password:</label>
        <input id="inputPasswordCheck" #userInputCheck type="password">
        <p id="warningNew">The password is not the same.</p>
        <button id="setBtn" (click)="setPassword(userInputNew.value, userInputCheck.value)">Next</button>
    </div>
</div>