
<!--
 -- home.component.html
 -- 
 -- HTML file specifying the layout for the home.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-06-30 / Anne Naumann
 -->
<app-toolbar title="{{title}}" [profileBtn]=true [settingsBtn]=true [adminBtn]=true></app-toolbar>
<cdk-virtual-scroll-viewport id="homeScrollView" itemSize=50>
    <div id="containerWarnings">
        <div id="warningChanges" class="warnings" *ngIf=showWarningChanges>
            <mat-icon svgIcon="warning"></mat-icon>
            <span id="labelWarningChanges">{{warningChanges}}</span>
        </div>
        <div id="warningShifts" class="warnings" *ngIf=showWarningShifts>
            <mat-icon svgIcon="warning"></mat-icon>
            <span id="labelWarningShifts">{{warningShifts}}</span>
        </div>
    </div>
    <div id="firstShift">
        <mat-list>
            <mat-list-item>
                <span id="firstShiftDate" class="firstShiftHeader">Montag 05.07</span>
                <div class="alignText positionContainer">
                    <div id="firstStartTime" class="firstShiftHeader">{{wordFrom}} 08:00 {{wordClock}}</div>
                    <div id="firstEndTime" class="firstShiftHeader">{{wordTo}} 14:00 {{wordClock}}</div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <span id="firstLabelContact">{{labelContact}}:</span>
                <span id="firstContentContact" class="alignText">ag167</span>
            </mat-list-item>
            <mat-list-item>
                <span id="labelColleagues">{{labelColleagues}}:</span>
                <div class="alignText">
                    <div id="firstContentColleague">an055</div>
                    <div id="secondContentColleague">sw210</div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <span id="labelTask">{{labelTasks}}:</span>
                <span id="contentTask" class="alignText">Empfang_01</span>
            </mat-list-item>
        </mat-list>
    </div>
    <mat-divider></mat-divider>
    <div id="secondShift">
        <mat-list>
            <mat-list-item>
                <span id="secondShiftDate" class="secondShiftHeader">Dienstag 06.07</span>
                <div class="alignText">
                    <div id="secondStartTime" class="secondShiftHeader">{{wordFrom}} 14:00 {{wordClock}}</div>
                    <div id="secondEndTime" class="secondShiftHeader">{{wordTo}} 20:00 {{wordClock}}</div>
                </div>
            </mat-list-item>
            <mat-list-item>
                <span id="secondLabelContact">{{labelContact}}:</span>
                <span id="secondContentContact" class="alignText">ag167</span>
            </mat-list-item>
        </mat-list>
    </div>
    <div id="containerStatistics" *ngIf=showStatistics>
        <h1 id="headerStatistics">{{labelStatistics}}</h1>
        <mat-list>
            <mat-list-item id="labelHours">
                <span>{{labelWorkingHours}}:</span>
                <span id="contentHours" class="alignText">140 {{wordHours}}</span>
            </mat-list-item>
            <mat-list-item id="labelDays">
                <span>{{labelWorkingDays}}:</span>
                <span id="contentDays" class="alignText">20 {{wordDays}}</span>
            </mat-list-item>
            <mat-list-item id="labelSick">
                <span>{{labelSickDays}}:</span>
                <span id="contentSick" class="alignText">1 {{wordDays}}</span>
            </mat-list-item>
            <mat-list-item id="labelVacation">
                <span>{{labelVacationDays}}:</span>
                <span id="contentVacation" class="alignText">4 {{wordDays}}</span>
            </mat-list-item>
        </mat-list>
    </div>
</cdk-virtual-scroll-viewport>