<!--
 -- profile.component.html
 -- 
 -- HTML file specifying the layout for the profile.component.
 -- 
 -- author: Anne Naumann
 -- last edit / by: 2021-06-23 / Anne Naumann
 -->

<app-toolbar title="{{title}}" [settingsBtn]=true [adminBtn]=true></app-toolbar>
<mat-list>
    <mat-list-item id="labelUserName">
        <span>{{username}}:</span>
        <span id="contentUserName" class="alignText">Test Username</span>
    </mat-list-item>
    <mat-list-item id="labelRole">
        <span>{{role}}:</span>
        <span id="contentRole" class="alignText">Test Rolle</span>
    </mat-list-item>
</mat-list>
<button mat-raised-button id="logoutBtn" color="accent" (click)="checkLogout()">Logout</button>