/**
 * main-navigation.component.scss
 * 
 * The stylesheet document for the main-navigation component styling the
 * layout defined in the html document.
 * 
 * author: Anne Naumann
 * last edit / by: 2021-06-07 / Anne Naumann
 */ 
 
#bottomBar{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}